<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>inst-put-pod-0.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 50}</string>
			<key>spriteSourceSize</key>
			<string>{320, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 50}, {320, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>inst-put-pod-1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 50}</string>
			<key>spriteSourceSize</key>
			<string>{320, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 250}, {320, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>inst-put-pod-10.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 50}</string>
			<key>spriteSourceSize</key>
			<string>{320, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 100}, {320, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>inst-put-pod-2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 50}</string>
			<key>spriteSourceSize</key>
			<string>{320, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{320, 0}, {50, 320}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>inst-put-pod-3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 50}</string>
			<key>spriteSourceSize</key>
			<string>{320, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 300}, {320, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>inst-put-pod-4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 50}</string>
			<key>spriteSourceSize</key>
			<string>{320, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 200}, {320, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>inst-put-pod-5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 50}</string>
			<key>spriteSourceSize</key>
			<string>{320, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 150}, {320, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>inst-put-pod-6.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 50}</string>
			<key>spriteSourceSize</key>
			<string>{320, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 350}, {320, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>inst-put-pod-7.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 50}</string>
			<key>spriteSourceSize</key>
			<string>{320, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {320, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>inst-put-pod-8.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 50}</string>
			<key>spriteSourceSize</key>
			<string>{320, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 400}, {320, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>inst-put-pod-9.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 50}</string>
			<key>spriteSourceSize</key>
			<string>{320, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 450}, {320, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
	</dict>
</dict>
</plist>