<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>term1-prompt-0.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {316, 50}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{316, 50}</string>
			<key>spriteSourceSize</key>
			<string>{320, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {316, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>term1-prompt-1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {316, 50}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{316, 50}</string>
			<key>spriteSourceSize</key>
			<string>{320, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 50}, {316, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>term1-prompt-10.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {316, 50}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{316, 50}</string>
			<key>spriteSourceSize</key>
			<string>{320, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 100}, {316, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>term1-prompt-2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {316, 50}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{316, 50}</string>
			<key>spriteSourceSize</key>
			<string>{320, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 150}, {316, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>term1-prompt-3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {316, 50}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{316, 50}</string>
			<key>spriteSourceSize</key>
			<string>{320, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 200}, {316, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>term1-prompt-4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {316, 50}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{316, 50}</string>
			<key>spriteSourceSize</key>
			<string>{320, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 250}, {316, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>term1-prompt-5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {316, 50}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{316, 50}</string>
			<key>spriteSourceSize</key>
			<string>{320, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 300}, {316, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>term1-prompt-6.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {316, 50}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{316, 50}</string>
			<key>spriteSourceSize</key>
			<string>{320, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 350}, {316, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>term1-prompt-7.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {316, 50}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{316, 50}</string>
			<key>spriteSourceSize</key>
			<string>{320, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 400}, {316, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>term1-prompt-8.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {316, 50}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{316, 50}</string>
			<key>spriteSourceSize</key>
			<string>{320, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 450}, {316, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>term1-prompt-9.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {316, 50}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{316, 50}</string>
			<key>spriteSourceSize</key>
			<string>{320, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{316, 0}, {50, 316}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
	</dict>
</dict>
</plist>